@import "../../utils/color.scss";

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  .modalContainer {
    width: 500px;
    height: 250px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;

    .titleCloseBtn {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .title {
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      h1 {
        font-size: 2rem;
      }
    }

    .footer {
      flex: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      button {
        padding: 0.7rem;
        width: 150px;
        border: none;
        font-weight: 500;
      }
    }
  }
}
